.title{
    width:100%;
    justify-content: center;
}

.avCards {
    margin-right: -3vw;
    margin-left: 0;
    width: 5vw;
    min-width: 7vh;
}

.allCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    // flex-grow: -5;
    justify-content:center;
    overflow: scroll;
}