#chatView{
    flex-direction: column-reverse;
    overflow:hidden;
    display:flex;
}

.chatTitle {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.buttons{
    width: 90%;
    justify-content: center;
}
