<div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="buttons" (click)="takeCard_click()">
          TAKE CARD(s)
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button class="buttons" (click)="skip_click()">
          SKIP
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item *ngIf="!mojRed">
          Nema aktivne igre
        </ion-item>
        <ion-item *ngIf="mojRed == 1" style="--background: green;">
          Moj red
        </ion-item>
        <ion-item *ngIf="mojRed == 2" style="--background: red;">
          Nije moj red
        </ion-item>

        <ion-item *ngIf="mojRed == 3" style="--background: cyan;">
          Ne sudjelujete u igri
        </ion-item>
        
      </ion-col>
    </ion-row>

  </ion-grid>
</div>

<span class="chatTitle">
  Chat
</span>

<ion-item>
  <ion-input type="text" (keyup.enter)="onEnter()" [(ngModel)]="newMessage" placeholder="Enter your message">
  </ion-input>
</ion-item>

<ion-grid id="chatView">
  <ion-row>
    <ion-col *ngFor="let item of chatMessages" size="12">
      <b>{{item.userName}}</b>: {{item.text}}
    </ion-col>
  </ion-row>
</ion-grid>