<div id="topPart" *ngIf="mobileView == true">
  <app-player-list></app-player-list>
</div>

<div id="middlePart" *ngIf="mobileView == true">
  <div *ngIf="!!myGame" style="display: flex; justify-content: space-around; margin-top: 10vh;">
    <ion-img [src]='"../../../assets/images/" + mainCard?.color + "_" + mainCard?.value + ".JPG"'
      style="width:30vw; max-height: 40vh; justify-content: center;">
    </ion-img>
  </div>
</div>

<div id="rightPart" *ngIf="mobileView == true">
  <app-chat-view [mojRed]="mojRed" (takecard)="takeCardManually($event)" (skip)="playNothing()"></app-chat-view>
</div>

<div id="bottom1" *ngIf="mobileView == true">
  <app-playable-cards [cards]="MyCardsPlayable" (cardClick)="cardClick($event)">
  </app-playable-cards>
</div>

<div id="bottom2" *ngIf="mobileView == true">
  <app-all-cards></app-all-cards>
</div>


















<div id="topDesktop" *ngIf="!mobileView">
  <app-player-list></app-player-list>
</div>

<div id="left1" *ngIf="!mobileView">
  <app-all-cards-vertical>
  </app-all-cards-vertical>
</div>

<div id="left2" *ngIf="!mobileView">
  <app-playable-cards-vertical [cards]="MyCardsPlayable" (cardClick)="cardClick($event)"></app-playable-cards-vertical>
</div>

<div id="middleDesktop" *ngIf="!mobileView">
</div>

<div id="rightDesktop" *ngIf="!mobileView">
  <app-chat-view [mojRed]="mojRed" (takecard)="takeCardManually($event)" (skip)="playNothing()"></app-chat-view>
</div>