<ion-header>
  <app-player-list></app-player-list>
</ion-header>

<ion-content>








  <div id="middlePart">
    <div *ngIf="!!myGame" style="display: flex; justify-content: space-around; margin-top: 10vh;">
      <ion-img [src]='"../../../assets/images/" + mainCard?.color + "_" + mainCard?.value + ".JPG"'
        style="width:30vw; max-height: 40vh; justify-content: center;">
      </ion-img>
    </div>
  </div>

  <div id="rightPart">
    <h2 class="chatTitle">
      Chat
    </h2>
    <ion-item>
      <ion-input (keyup.enter)="onEnter()" type="text" [(ngModel)]="newMessage" placeholder="Enter your message">
      </ion-input>
    </ion-item>

    <div id="messages">
      <app-chat-view></app-chat-view>
    </div>


  </div>

</ion-content>

<ion-footer>
  <ion-button id="newGbutton" [disabled]="mojRed === false" (click)="takeCardManually()">
    Take one
  </ion-button>
  <app-playable-cards *ngIf="MyCardsPlayable.length > 0" [cards]="MyCardsPlayable" (cardClick)="cardClick($event)">
  </app-playable-cards>
  <app-all-cards *ngIf="!!myGame"></app-all-cards>
</ion-footer>